<div class="container-fluid full-height">
  <div class="row full-height">

    <div class="col-3 full-height" id="left-panel">
      <div class="row" id="filters-tab">
        filters tab
      </div>
      <div class="row" id="filter-edit">
        filter-edit tab
      </div>
      <div class="row" id="server-tab">
        server actions & status tab
      </div>
    </div>

    <div class="col-6 full-height" id="center-panel">
      <div class="row" id="top-picture">
        Top picture (original)
      </div>
      <div class="row" id="bottom-picture">
        Bottom picture (processed)
      </div>
    </div>

    <div class="col-3 full-height" id="right-panel">
      <div class="row" id="GPS-tab">
        GPS tab (cat. 2)
      </div>
      <div class="row" id="top-histogram">
        top picture histogram (chart.js)
      </div>
      <div class="row" id="bottom-histogram">
        bottom picture histogram (chart.js)
      </div>
      <div class="row" id="actions-tab">
        action buttons tab
      </div>
    </div>

  </div>
</div>
